/* utilities */
body {
    font-family: Arial, sans-serif;
}

.ms-mt-110 {
    margin-top: 110px;
}

/* header*/
header {
    font-family: Helvetica, sans-serif;
}

.logo-1-width {
    width: 75px;
}

.width-icon {
    width: 10px;
}

.width-icon-2 {
    width: 20px;
}

/* main */
.jumbo-section {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;    
    height: 550px;
}

.jumbo-section-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;    
}

.img-width-jumbo {
    width: 250px;
}

.img-width-jumbo-2 {
    width: 230px;
}

.img-psplus-width {
    width: 280px;
}

.btn-bg-1 {
    background-color: #cd3d0f;
}

.br-radius {
    border-radius: 20px;
}

.color-text-1 {
    color: #0977cf;
}

.bg-color-1 {
    background-color: #1f1f1f;
}

.bg-color-2 {
    background-color: #bebcbb;
}

.font-size-1 {
    font-size: 2.3rem;
}