/* utilities */
body {
    font-family: Arial, sans-serif;
}

.ms-mt-110 {
    margin-top: 110px;
}

.btn-bg-1 {
    background-color: #cd3d0f;
}

.br-radius {
    border-radius: 20px;
}

.color-text-1 {
    color: #0977cf;
}

.bg-color-1 {
    background-color: #1f1f1f;
}

.bg-color-2 {
    background-color: #bebcbb;
}

.bg-color-3 {
    background-color: #161c3b;
}

.bg-color-4 {
    background-color: #00439c;
}

.font-size-1 {
    font-size: 2.3rem;
}

.font-size-2 {
    font-size: 2.3rem;
}

.font-size-3 {
    font-size: 0.9rem;
}

.op-40 {
    opacity: 40%;
}

/* header*/
header {
    font-family: Helvetica, sans-serif;
}

.logo-1-width {
    width: 75px;
}

.width-icon {
    width: 10px;
}

.width-icon-2 {
    width: 20px;
}

/* main */
.jumbo-section {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;    
    height: 550px;
}

.jumbo-section-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;    
}

.img-width-jumbo {
    width: 250px;
}

.img-width-jumbo-2 {
    width: 230px;
}

.img-width {
    width: 65%;
}

.max-width {
    max-width: 568px;
}

/* footer */
.logo-2-width {
    width: 90px;
}

.img-size {
    width: 8rem;
}

/* hover */
.card-section-2 .row .col-4 {
    transition: box-shadow .5s ease,
                opacity .5s ease;
}

.card-section-2 .row .col-4:hover {
    opacity: 100%;
    box-shadow: 0px 2px 0px #0977cf;
    cursor: pointer;
}

.card-section-1 img,
.card-section-3 img {
    transition: transform .4s ease,
                box-shadow .4s ease,
                outline .4s ease .1s,
                outline-offset .4s ease .1s;
}

.card-section-1 img:hover,
.card-section-3 img:hover {
    cursor: pointer;
    outline: solid 3px #0977cf;
    outline-offset: 4px;
    transform: translateY(-8px);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px;
}

.btn,
.btn.bg-light,
.ps-now-section .btn.bg-light {
    transition: outline-offset .3s ease,
                outline .4s ease .1s;
}

.btn:hover {
    outline: solid 2px #fff;
    outline-offset: -5px;
}

.btn.bg-light:hover {
    outline: solid 2px #bebcbb;
}

.ps-now-section .btn.bg-light:hover {
    outline-color: #161c3b;
}

.discount-section img,
.social-media-section img {
    transition: transform .4s ease,
                border-radius .4s ease,
                box-shadow .4s ease,
                outline .4s ease .1s,
                outline-offset .4s ease .1s;
}

.discount-section img:hover {
    cursor: pointer;
    outline: solid 3px #161c3b;
    outline-offset: 4px;
    transform: translateY(-8px);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px;
    border-radius: 50px;
}

.social-media-section img:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px;
    border-radius: 20px;
}